body{

}
.site{
    max-width: 50em;
    margin: 0 auto;
}
table{
    border: 1px solid #105cb6;
    width: 80%;
    border-spacing: 0.2em;
    color: darkblue;
    margin-left: 130px;
}

table td,
table th{
    border: 1px solid ;

}
table td{
    background: #737373;
    text-align: center;
    font-size: 0.8em;
}
table th{
    font-weight: bold;
    text-align: center;
    background: #fff555;
    color: darkblue;
}
